[theme="dark"] {
  --purple: #5865e0;
  --primary: #131822;
  --secondary: #19212d;
}

[theme="light"] {
  --purple: #5865e0;
  --primary: #f5f6f8;
  --secondary: #ffffff;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
