@import url(../index.css);

.header-container {
  display: flex;
  align-items: flex-start;
  background-color: var(--purple);
  padding-left: 10rem;
  padding-right: 10rem;
  height: 8rem;
  border-radius: 0 0 0 90px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.9rem;
}

.site-title {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.theme-toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-icons {
  color: var(--white);
  margin: 0 12px 0 12px;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--purple);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--white);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 550px) {
  .header-container {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0 0 0 0;
  }
}
